<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="author" content="colorlib.com" />
      <link
        href="https://fonts.googleapis.com/css?family=Poppins:400,800"
        rel="stylesheet"
      />
      <link href="/css/about.css" rel="stylesheet" />
      <link href="/css/nav.css" rel="stylesheet" />
        <link 
            rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
            crossorigin="anonymous">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <meta name="viewport" content='width=device-width, initial-scale=1'>
        <title>
            <%= title %>
        </title>
    </head>
    <body>     
          <%- include('../layouts/nav.ejs') %>

        <div class="team">
            <h1>
                Trending News in Trading
            </h1>
            <div class="cards">
                <center>

                <figure class="card">
                    <p>1. Sensex gallops 1,016pts on status-quo RBI policy; Nifty ends above 17,450.</p>
                </figure>
                <figure class="card">
                    <p>2. Top cryptocurrency prices today: Traders book profit in Bitcoin, Ether; Cardano slips 6%</p>
                </figure>
                <figure class="card">
                    <p>3. Bull market has legs into year-end and beyond, strategist says. Her top picks for 2022</p>
                  </a>
                </figure>
                <figure class="card">
                    <p>4. Bitcoin hits $50,000; Ethereum, Binance coin jump up to 8%</p>
                </figure>
                <figure class="card">
                    <p>5. Dow finishes 460 points lower in major reversal triggered by first U.S. omicron case.</p>
                </figure>
                <figure class="card">
                    <p>6. Devyani International surges 13% on heavy volumes, stock at all-time high</p>
                </figure>
                <figure class="card">
                    <p>7. Biggest market crash in 7 months leaves investors poorer by Rs 8 lakh crore</p>
                </figure>
                <figure class="card">
                    <p>8. Tech IPOs have been a bad bet in 2021 — all but one are in bear market territory</p>
                </figure>
                <figure class="card">
                    <p>9. Sensex Trades Lower Tracking Weak Global Cues; IT & Energy Stocks Under Pressure</p>
                </figure>
                <figure class="card">
                    <p>10. Stocks rebound sharply from omicron sell-off, Dow rises more than 600 points</p>
                </figure>

                </center>
              </div>
        </div>
            
        </div>

        
        <script >document.querySelector(".navbar").classList.add("activee");</script>
         <!-- bootstrap js -->
         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
         
    </body>
</html>