body {
  font-size: 0.875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.sidebar {
  position: fixed;
  top: 0vh;
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100;
  padding-top: 20vh !important; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(57, 57, 57, 0.625);
  height: 100vh !important;
}

main h1,
.tvchart {
  margin-top: 14vh !important;
}

.h2 {
  color: #ffc727 !important;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}
